.navbar {
    margin: 2rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar a {
    letter-spacing: 2px;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    position: relative;
  }
  .navbar a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: dodgerblue;
    /*animacion de derecha a izquierda*/
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.35s ease-in-out;
  }
  .navbar a:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: center;
    transform: scaleX(1);
  }